h1{
    color: aliceblue;
}
h2{
    color: brown;
}
body{
    background-image:url(etienne-martin-2_K82gx9Uk8-unsplash.jpg);
  font-size: large;
   background-attachment: fixed; 
   background-size: 100% 100%;
    font-style:oblique;
    color:whitesmoke
}